/*css site*/
/* .header-area{margin-bottom: 30px;} */
 p{margin: 0;}

 /* OWL NAVEGAÇÃO*/
 /* .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
 	margin-top: 10px;} */

.owl-nav{margin-top: 15px;}

.flex{display: flex; align-items: center;}

.nav-prod{
		background: #929292;
		padding: 5px;
    border-radius: 5px;
    color: #fff;
		margin: 3px;}

.pad{padding: 90px 0px;}
.pad-2{padding: 40px 0px;}
.gray{background: #f2f2f2;}
.number{font-size: 18px; font-weight: 600;}

.titulo_site_lg{
	font-family: 'PT Sans', sans-serif;
	font-size: 60px;
	margin: 0px;}

.titulo_site_md{
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	margin: 0px;}

.titulo_site_sm{
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	margin: 0px;}

.texto_home_lg{
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	text-align: center;}

.mg{margin: 5px 0px;}
.mg-sm{margin: 10px 0px;}
.mg-btm{margin-bottom: 20px;}
.mg-btm-lg{margin-bottom: 50px;}
.mg-top{margin-top: 10px;}
.mg-top-lg{margin-top: 20px;}

.box_search{
	margin: 20px 0px;
	padding: 20px 0px;
}

.card-vaga{
	/* position: relative; */
	box-shadow: 0px 1px 1px 1px #dcdcdc;
	display: flex;
	align-items: center;
	margin: 8px 0 0;
	padding: 16px 16px;
	border: 1px solid #f5f5f5;
	font-weight: 400;
	border-bottom: 1px solid #e3e3e3;
	background: #fff;
	/* cursor: pointer; */
}

.rodape{ background: #111; color:#fff;}

@media screen and (max-width: 390px) {

		.pad{padding: 30px;}
    .pad-2{padding: 30px;}
		.titulo_site_lg { font-family: 'PT Sans', sans-serif; font-size: 30px;}
		.divisor{margin-top: 40px}
		.flex{display:block;}
		.card-vaga{
			display: block;
			align-items: center;
			text-align: center;
		}
  .pad-mobile{ padding: 10px 0px 10px 0px}

}
