.padding{padding: 20px;}
.pad-sm{padding: 10px;}
.marg-top{margin-top:30px;}
.just-end{display: flex;justify-content: flex-end;align-items: center;}
.backGray{background:#f2f2f2;}
.ClassCenter{display: flex; justify-content: center; align-items: center;}
.ClassCenter a{ color: #3d3d3d;}
.ClassCenter a:hover{ color: #141414;}
.ClassCenter img{border: solid 0px #ededed; margin-top: 20px; box-shadow: 0px 1px 1px 0px #c3c3c3;}
.titleIcon{ background: #3d3d3d; border-radius: 25px; padding: 10px; margin-right: 15px; color: #fff;}

.owl-nav{display: flex;
    justify-content: center;}

		.mg{margin: 5px 0px;}
		.mg-sm{margin: 10px 0px;}
		.mg-btm{margin-bottom: 20px;}
		.mg-btm-lg{margin-bottom: 50px;}
		.mg-top{margin-top: 10px;}
		.mg-top-lg{margin-top: 20px;}
